h1
{
    text-align: center;
    float: center;
    margin: 0rem 0 1.68rem 0;
    background-color: #e91e63;
    color: #ffffff;
    font-weight: 300;
}
  
h3
{
    text-align: center;
    float: center;
    color: #ffffff;
}

h6
{
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
}

#inText
{
    text-align: center;
    color: #ffffff;
}
body
{
  background-color: #2196f3;
  color: #ffffff;
}
